 gitignore
  # Maven
  target/
  .mvn/wrapper/maven-wrapper.jar

  # IntelliJ IDEA
  .idea/
  *.iml
  *.iws
  *.ipr

  # OS specific
  .DS_Store
  Thumbs.db
  ehthumbs.db

  # Logs and databases
  *.log
  *.sqlite
  *.sqlite3
  *.db

  # STS (Spring Tool Suite)
  .apt_generated
  .classpath
  .factorypath
  .project
  .settings
  .springBeans
  .sts4-cache

  # VS Code
  .vscode/

  # Build folders for other IDEs (optional)
  build/
  bin/